#!/bin/bash
# This script is called by certbot to clean up after DNS-01 challenge
# Environment variables set by certbot:
# - CERTBOT_DOMAIN: The domain being authenticated

ZONE=$(echo "$CERTBOT_DOMAIN" | sed -E 's/^[^.]*\.(.*)$/\1/')
RECORD_NAME="_acme-challenge.${CERTBOT_DOMAIN}"

# Use PowerDNS API to delete TXT record
curl -X PATCH "http://powerdns:8081/api/v1/servers/localhost/zones/${ZONE}." \
  -H "X-API-Key: {{ hostvars['powerdns'].db_password }}" \
  -H "Content-Type: application/json" \
  -d "{\"rrsets\": [{\"name\": \"${RECORD_NAME}.\", \"type\": \"TXT\", \"changetype\": \"DELETE\"}]}"
