acme_email: "testuser@procube.jp"
nssdc_client_cert: |
  -----BEGIN CERTIFICATE-----
  EXAMPLE
  ...
  EXAMPLE
  -----END CERTIFICATE-----
nssdc_client_key: |
  -----BEGIN RSA PRIVATE KEY-----
  EXAMPLE
  ...
  EXAMPLE
  -----END RSA PRIVATE KEY-----

saml_dummy_cert: |
  -----BEGIN CERTIFICATE-----
  EXAMPLE
  ...
  EXAMPLE
  -----END CERTIFICATE-----
saml_dummy_key: |
  -----BEGIN PRIVATE KEY-----
  EXAMPLE
  ...
  EXAMPLE
  -----END PRIVATE KEY-----
saml_serial_number: "123456789abcdef"
ldap_config_password: "ldapconfigpassword"
idp_persistentid_salt: "idppersistentidsalt"
google_mail_user: "testuser@procube.jp"
google_app_password: "abcdefghjklmnopq"