---
- set_fact:
    fqdn_list: []
- name: get services
  loop: "{{ groups['services'] | intersect(groups[hive_stage]) }}"
  when: labels.webgate is defined
  set_fact:
    fqdn_list: "{{ fqdn_list + [(labels.published_name | default(item)) + '.' + domain] }}"
  vars:
    labels: "{{ hostvars[item].hive_labels | default({}) }}"
- name: install pip
  yum:
    name:
      - pip
      #- python3-venv
#- name: install virtual env
#  pip:
#    name:
#    - virtualenv
- name: make virtual env
  pip:
    name:
    - pip
    - pyOpenSSL
    - cryptography
    - requests
    virtualenv: /var/acme/venv
    virtualenv_command: /bin/python3 -m venv
- name: ensure acme directory
  file:
    path: /var/acme/data
    state: directory
- name: include acme
  vars:
    ansible_python_interpreter: /var/acme/venv/bin/python
  include_tasks:
    file: acme.yml