---
- name: install python packages
  pip:
    name:
      - dictdiffer
    state: present
- name: initialize databases
  shell: idm3ctl init
  register: init
  changed_when: init.rc == 0
  failed_when: init.rc != 0 and init.rc != 3
- name: setup instances
  idm:
    host: "idm3-bindbroker"
    interface: "{{ item.1.name }}"
    key_property: "{{ item.1.key_property }}"
    filter: "{{ item.1.filter | default(omit)}}"
    instances: "{{ phases_data[item.0.name][item.1.name] if item.0.name in phases_data and item.1.name in phases_data[item.0.name] else [] }}"
  register: loaded_data
  loop: "{{ restore_sequence_mongodb | subelements('interfaces') }}"
  loop_control:
    label: "{{item.0.name}} / {{ item.1.name }}"
  until: not loaded_data.failed
- name: restart BindBroker HMR
  uri:
    url: "http://idm3-bindbroker:8094/BindBroker/Management/restart"
    method: GET
    status_code: 200
  
