---
ansible_python_interpreter: /root/consul/bin/python
webgate_kv_samlsps: >-
  {%- set output_services = [] -%}
  {%- for s in groups['services'] | intersect(groups[hive_stage]) -%}
    {%- set labels = (hostvars[s].hive_labels | default({})) -%}
    {%- if (labels.webgate.authentication | default("none")) == "saml"  or
           (labels.webgate.proxies | default([]) | selectattr('authentication', 'defined') | selectattr('authentication', 'eq', 'saml') | list | length) > 0 -%}
      {%- set published_name = (labels.published_name | default(s)) -%}
      {%- set value = {
          "fqdn": published_name + "." + domain,
          "idpEntityId": labels.webgate.idpEntityId | default(default_entity_id),
          "uidAttrName": "uid",
          "certificateFqdn": "sp-dummy." + domain
      } -%}
      {% if labels.webgate.access_control is defined -%}
        {%- set _ = value.update({"accessControl": labels.webgate.access_control}) -%}
      {%- endif -%}
      {%- set _ = output_services.append({
        "key": "SamlSps/" + published_name + "." + domain,
        "value": value
      }) -%}
    {%- endif -%}
  {%- endfor -%}
  {{ output_services }}

webgate_kv_proxies: >-
  {%- set output_services = [] -%}
  {%- for s in groups['services'] | intersect(groups[hive_stage]) -%}
    {%- set labels = (hostvars[s].hive_labels | default({})) -%}
    {%- if labels.webgate is defined -%}
      {%- set published_name = (labels.published_name | default(s)) -%}
      {%- if labels.webgate.proxies is defined -%}
        {%- for p in labels.webgate.proxies -%}
          {%- set portname = s + (p.target_port | string) +
              (p.target_protocol | default('http')) +
              (':' + p.postfix if p.postfix is defined else '') -%}
          {%- set _ = output_services.append({
            "key": "proxyPasses/" + portname,
            "value": {
              "authentication": (p.authentication | default(labels.webgate.authentication | default("none"))),
              "pathPattern": (p.pathPattern | default("/")),
              "protocol": (p.target_protocol | default("http")),
              "scheduler": "ss",
              "service": portname,
              "upstreams": [s + ':' + (p.target_port | string)],
              "virtualHost": published_name,
              "maxBodySize": (p.maxBodySize | default(1))
              }
            }) -%}
          {%- if p.impersonate is defined -%}
            {%- set _ = p.impersonate.update({"name": portname}) -%}
            {%- set _ = output_services.append({
              "key": "Impersonations/" + portname,
              "value": p.impersonate
            }) -%}
          {%- endif -%}
        {%- endfor -%}
        {%- set _ = output_services.append({
          "key": "virtualHosts/" + published_name,
          "value": {
            "fqdn":  published_name + "." + domain,
            "certificateFqdn": published_name + "." + domain,
            "name": published_name,
            "verifySslClient": "off",
            "vsvcPrefix": "global"
            }
          }) -%}
      {%- endif -%}
      {%- for p in (labels.webgate.virtual_services | default([])) -%}
        {%- set portname = s + (p.target_port | string) + p.protocol -%}
        {%- set value = {
            "service": portname,
            "virtualIp": p.source_ip,
            "port": p.source_port,
            "scheduler": "rr",
            "mode": p.mode,
            "udp": p.protocol == 'udp'
          } -%}
        {% if p.target_ip is defined -%}
          {%- set _ = value.update({"dests": [{"ip": p.target_ip, "port": p.target_port}]}) -%}
        {%- endif -%}
        {%- set _ = output_services.append({
          "key": "virtualServices/" + portname,
          "value": value
          }) -%}
      {%- endfor -%}
    {%- endif -%}
  {%- endfor -%}
  {{ output_services }}

webgate_kv_common:
  - key: "attributes/HTTP_REMOTEGROUP"
    value:
      name: HTTP_REMOTEGROUP
      source: idmRole
      type: StringAttributeDecoder
  - key: "attributes/HTTP_USER"
    value:
      name: HTTP_REMOTEUSER
      source: uid
      type: StringAttributeDecoder
  - key: "attributes/uid"
    value:
      name: uid
      source: uid
      type: StringAttributeDecoder
  - key: "attributes/mail"
    value:
      name: mail
      source: mail
      type: StringAttributeDecoder
  - key: "attributes/vlan"
    value:
      name: vlan
      source: vlan
      type: StringAttributeDecoder
  - key: "metadatas/idp"
    value:
      metadata: |
        <?xml version="1.0" encoding="UTF-8"?>
        <EntityDescriptor xmlns="urn:oasis:names:tc:SAML:2.0:metadata"
            xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:shibmd="urn:mace:shibboleth:metadata:1.0"
            xmlns:xml="http://www.w3.org/XML/1998/namespace"
            xmlns:mdui="urn:oasis:names:tc:SAML:metadata:ui"
            entityID="https://auth.{{ domain }}/idp/shibboleth">

            <IDPSSODescriptor protocolSupportEnumeration="urn:oasis:names:tc:SAML:2.0:protocol urn:oasis:names:tc:SAML:1.1:protocol urn:mace:shibboleth:1.0">
        <!--
                <Extensions>
                    <shibmd:Scope regexp="false">idp.{{ domain }}</shibmd:Scope>
                    <mdui:UIInfo>
                        <mdui:DisplayName xml:lang="en">XXXXXX A Name for the IdP XXXXXX</mdui:DisplayName>
                        <mdui:Description xml:lang="en">XXXXXX Enter a description of your IdP XXXXXX</mdui:Description>
                        <mdui:Logo height="HeightInPixels" width="WidthInPixels">XXXXXX https://auth.{{ domain }}/Path/To/Logo.png XXXXXX</mdui:Logo>
                    </mdui:UIInfo>
                </Extensions>
        -->
                <KeyDescriptor>
        <ds:KeyInfo>
        <ds:X509Data>
        <ds:X509Certificate>
        {{ saml_dummy_cert_stripped }}
        </ds:X509Certificate>
        </ds:X509Data>
        </ds:KeyInfo>
                </KeyDescriptor>
                <ArtifactResolutionService Binding="urn:oasis:names:tc:SAML:1.0:bindings:SOAP-binding"
                    Location="https://auth.{{ domain }}/idp/profile/SAML1/SOAP/ArtifactResolution"
                    index="1"/>
                <ArtifactResolutionService Binding="urn:oasis:names:tc:SAML:2.0:bindings:SOAP"
                    Location="https://auth.{{ domain }}/idp/profile/SAML2/SOAP/ArtifactResolution"
                    index="2"/>
                <!--
                <SingleLogoutService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect" Location="https://auth.{{ domain }}/idp/profile/SAML2/Redirect/SLO"/>
                <SingleLogoutService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST" Location="https://auth.{{ domain }}/idp/profile/SAML2/POST/SLO"/>
                <SingleLogoutService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST-SimpleSign" Location="https://auth.{{ domain }}/idp/profile/SAML2/POST-SimpleSign/SLO"/>
                <SingleLogoutService Binding="urn:oasis:names:tc:SAML:2.0:bindings:SOAP" Location="https://auth.{{ domain }}/idp/profile/SAML2/SOAP/SLO"/>
                -->
                <NameIDFormat xmlns="urn:oasis:names:tc:SAML:2.0:metadata">urn:oasis:names:tc:SAML:2.0:nameid-format:transient</NameIDFormat>
                <NameIDFormat xmlns="urn:oasis:names:tc:SAML:2.0:metadata">urn:oasis:names:tc:SAML:2.0:nameid-format:persistent</NameIDFormat>
                <NameIDFormat xmlns="urn:oasis:names:tc:SAML:2.0:metadata">urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress</NameIDFormat>
                <NameIDFormat xmlns="urn:oasis:names:tc:SAML:2.0:metadata">urn:oasis:names:tc:SAML:1.1:nameid-format:X509SubjectName</NameIDFormat>
                <NameIDFormat xmlns="urn:oasis:names:tc:SAML:2.0:metadata">urn:oasis:names:tc:SAML:2.0:nameid-format:kerberos</NameIDFormat>
                <NameIDFormat xmlns="urn:oasis:names:tc:SAML:2.0:metadata">urn:oasis:names:tc:SAML:1.1:nameid-format:WindowsDomainQualifiedName</NameIDFormat>
                <NameIDFormat xmlns="urn:oasis:names:tc:SAML:2.0:metadata">urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified</NameIDFormat>

                <SingleSignOnService Binding="urn:mace:shibboleth:1.0:profiles:AuthnRequest"
                    Location="https://auth.{{ domain }}/idp/profile/Shibboleth/SSO"/>
                <SingleSignOnService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST"
                    Location="https://auth.{{ domain }}/idp/profile/SAML2/POST/SSO"/>
                <SingleSignOnService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST-SimpleSign"
                    Location="https://auth.{{ domain }}/idp/profile/SAML2/POST-SimpleSign/SSO"/>
                <SingleSignOnService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect"
                    Location="https://auth.{{ domain }}/idp/profile/SAML2/Redirect/SSO"/>
            </IDPSSODescriptor>

            <AttributeAuthorityDescriptor protocolSupportEnumeration="urn:oasis:names:tc:SAML:2.0:protocol urn:oasis:names:tc:SAML:1.1:protocol">
                <Extensions>
                    <shibmd:Scope regexp="false">idp.{{ domain }}</shibmd:Scope>
                </Extensions>
                <KeyDescriptor>
        <ds:KeyInfo>
        <ds:X509Data>
        <ds:X509Certificate>
        {{ saml_dummy_cert_stripped }}
        </ds:X509Certificate>
        </ds:X509Data>
        </ds:KeyInfo>
                </KeyDescriptor>
                <AttributeService Binding="urn:oasis:names:tc:SAML:1.0:bindings:SOAP-binding"
                    Location="https://auth.{{ domain }}/idp/profile/SAML1/SOAP/AttributeQuery"/>
                <AttributeService Binding="urn:oasis:names:tc:SAML:2.0:bindings:SOAP"
                    Location="https://auth.{{ domain }}/idp/profile/SAML2/SOAP/AttributeQuery"/>
            </AttributeAuthorityDescriptor>
        </EntityDescriptor>
  - key: "virtualServices/global-proxy"
    value:
      dests: []
      mode: NAT-ONGW
      port: 80
      scheduler: rr
      service: global-proxy
      virtualIp: "{{ web_vip }}"
  - key: "virtualServices/global-sslProxy"
    value:
      dests: []
      mode: NAT-ONGW
      port: 443
      scheduler: rr
      service: global-sslProxy
      virtualIp: "{{ web_vip }}"
  - key: "virtualServices/sv-proxy"
    value:
      dests: []
      mode: NAT-ONGW
      port: 80
      scheduler: rr
      service: sv-proxy
      virtualIp: "{{ web_vip }}"
  - key: "virtualServices/sv-sslProxy"
    value:
      dests: []
      mode: NAT-ONGW
      port: 443
      scheduler: rr
      service: sv-sslProxy
      virtualIp: "{{ web_vip }}"
  - key: "certificates/sp-dummy.{{ domain }}"
    value:
      fqdn: "sp-dummy.{{ domain }}"
      # this is intentional spelling miss to match WG2
      cerificate: "{{ credentials.saml_dummy_cert }}"
      privateKey: "{{ credentials.saml_dummy_key }}"
      serialNumber: "{{ credentials.saml_serial_number }}"

webgate_kv: "{{ webgate_kv_common + webgate_kv_samlsps + webgate_kv_proxies }}"

