---
# This role installs WebGate and configures it. for docker container
- name: disable nginx module of dnf
  shell: |
    dnf module disable -y nginx
- name: enable nodejs nginx module of dnf
  shell: |
    dnf module enable -y nodejs:22
- name: install NetSoarer WebGate 2
  dnf:
    name:
    - NetSoarer-WebGate
    - bind-utils
    - iproute
    - openssh-clients
    enablerepo: crb
# - name: patch to set consistentAddress false
#   lineinfile:
#     dest: /etc/consul-template.d/shibboleth2.xml.tmpl
#     regexp: '^( *checkAddress="false" )(consistentAddress="false" )?(.*)$'
#     line: '\1consistentAddress="false" \3'
#     backrefs: yes
- name: put override consul.service
  copy:
    src: consul.service.d
    dest: /usr/lib/systemd/system/
- name: put template file to get logical backup of consul kv
  copy:
    src: exportKvs.tmpl
    dest: /usr/lib/
- name: disable & stop services
  service:
    name: "{{ item }}"
    state: stopped
    enabled: False
  loop:
  - lvs
  - lvsConfigure
  - dsr
  - dsrConfigure
- name: setup python3
  yum:
    name:
    - python3
    - python3-setuptools
- set_fact:
    ansible_python_interpreter: "/bin/python3"
- name: make virtual env for provisioning tools
  pip:
    name:
    - python-consul
    virtualenv: /root/consul
    virtualenv_command: /bin/python3 -m venv
- name: active virtualenv on .bashrc
  lineinfile:
    path: /root/.bashrc
    line: source /root/consul/bin/activate
- name: adding user nginx to group apache
  user:
    name: nginx
    groups: apache
    append: yes
- name: start and enable services
  service: name="{{item}}" state=started enabled=yes
  with_items:
    - renewCerts.timer
    - nginx
#- name: Create/Overwrite symbolic link for certbot
#  file:
#    src: /root/consul/bin/certbot
#    dest: /bin/certbot
#    owner: root
#    group: root
#    state: link
- name: create ssh dir
  file:
    dest: "/root/.ssh/"
    state: directory
    mode: 0700
    owner: root
    group: root
#- name: put ssh key
#  copy:
#    content: "{{ webgate_ssh_private }}"
#   dest: /root/.ssh/id_rsa
#    mode: "0600"
#    owner: root
#    group: root
#- name: put ssh config
#  copy:
#    src: "ssh_config"
#    dest: /root/.ssh/config
#    mode: "0600"
#    owner: root
#    group: root
#- name: cert updater
#  copy:
#    src: "{{ item }}"
#    dest: /etc/letsencrypt/renewal-hooks/deploy/
#    mode: "0755"
#    owner: root
#    group: root
#  with_items:
#    - transfer2ldap
#    - transfer2radiusguest
