---
am_kv_metadataFile: >-
  {%- set output_services = [] -%}
  {%- set published_names = [] -%}
  {%- for host in groups['services'] | intersect(groups[hive_stage]) |
          map('extract', hostvars, 'hive_labels') | select('defined') -%}
    {%- if (host.webgate.authentication | default('none')) == 'saml' or 
           (host.webgate.proxies | default([]) | selectattr('authentication', 'defined') | selectattr('authentication', 'eq', 'saml') | list | length) > 0 -%}
      {%- set _ = published_names.append(host.published_name) -%}
    {%- endif -%}
  {%- endfor -%}
  {%- set _ = published_names.append('gw') -%}
  {%- for published_name in published_names -%}
    {%- set fqdn = ( published_name | lower ) + "." + domain -%}
    {%- set metadata = '<md:EntityDescriptor xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata" ID="' + published_name + '" entityID="https://' + published_name + '.' + domain + '/Shibboleth.sso">\n' +
      '   <md:Extensions xmlns:alg="urn:oasis:names:tc:SAML:metadata:algsupport">\n' +
      '    <alg:DigestMethod Algorithm="http://www.w3.org/2001/04/xmlenc#sha512"/>\n' +
      '    <alg:DigestMethod Algorithm="http://www.w3.org/2001/04/xmldsig-more#sha384"/>\n' +
      '    <alg:DigestMethod Algorithm="http://www.w3.org/2001/04/xmlenc#sha256"/>\n' +
      '    <alg:DigestMethod Algorithm="http://www.w3.org/2001/04/xmldsig-more#sha224"/>\n' +
      '    <alg:DigestMethod Algorithm="http://www.w3.org/2000/09/xmldsig#sha1"/>\n' +
      '    <alg:SigningMethod Algorithm="http://www.w3.org/2001/04/xmldsig-more#ecdsa-sha512"/>\n' +
      '    <alg:SigningMethod Algorithm="http://www.w3.org/2001/04/xmldsig-more#ecdsa-sha384"/>\n' +
      '    <alg:SigningMethod Algorithm="http://www.w3.org/2001/04/xmldsig-more#ecdsa-sha256"/>\n' +
      '    <alg:SigningMethod Algorithm="http://www.w3.org/2001/04/xmldsig-more#ecdsa-sha224"/>\n' +
      '    <alg:SigningMethod Algorithm="http://www.w3.org/2001/04/xmldsig-more#rsa-sha512"/>\n' +
      '    <alg:SigningMethod Algorithm="http://www.w3.org/2001/04/xmldsig-more#rsa-sha384"/>\n' +
      '    <alg:SigningMethod Algorithm="http://www.w3.org/2001/04/xmldsig-more#rsa-sha256"/>\n' +
      '    <alg:SigningMethod Algorithm="http://www.w3.org/2009/xmldsig11#dsa-sha256"/>\n' +
      '    <alg:SigningMethod Algorithm="http://www.w3.org/2001/04/xmldsig-more#ecdsa-sha1"/>\n' +
      '    <alg:SigningMethod Algorithm="http://www.w3.org/2000/09/xmldsig#rsa-sha1"/>\n' +
      '    <alg:SigningMethod Algorithm="http://www.w3.org/2000/09/xmldsig#dsa-sha1"/>\n' +
      '  </md:Extensions>\n' +
      '\n' +
      '  <md:SPSSODescriptor protocolSupportEnumeration="urn:oasis:names:tc:SAML:2.0:protocol urn:oasis:names:tc:SAML:1.1:protocol urn:oasis:names:tc:SAML:1.0:protocol">\n' +
      '    <md:Extensions>\n' +
      '      <init:RequestInitiator xmlns:init="urn:oasis:names:tc:SAML:profiles:SSO:request-init" Binding="urn:oasis:names:tc:SAML:profiles:SSO:request-init" Location="https://' + fqdn + '/Shibboleth.sso/Login"/>\n' +
      '    </md:Extensions>\n' +
      '    <md:KeyDescriptor>\n' +
      '      <ds:KeyInfo xmlns:ds="http://www.w3.org/2000/09/xmldsig#">\n' +
      '        <ds:KeyName>hive0</ds:KeyName>\n' +
      '        <ds:X509Data>\n' +
      '          <ds:X509SubjectName>CN=hive0</ds:X509SubjectName>\n' +
      '          <ds:X509Certificate>' + saml_dummy_cert_stripped + ' </ds:X509Certificate>\n' +
      '        </ds:X509Data>\n' +
      '      </ds:KeyInfo>\n' +
      '      <md:EncryptionMethod Algorithm="http://www.w3.org/2009/xmlenc11#aes128-gcm"/>\n' +
      '      <md:EncryptionMethod Algorithm="http://www.w3.org/2009/xmlenc11#aes192-gcm"/>\n' +
      '      <md:EncryptionMethod Algorithm="http://www.w3.org/2009/xmlenc11#aes256-gcm"/>\n' +
      '      <md:EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes128-cbc"/>\n' +
      '      <md:EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes192-cbc"/>\n' +
      '      <md:EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc"/>\n' +
      '      <md:EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc"/>\n' +
      '      <md:EncryptionMethod Algorithm="http://www.w3.org/2009/xmlenc11#rsa-oaep"/>\n' +
      '      <md:EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p"/>\n' +
      '    </md:KeyDescriptor>\n' +
      '    <md:ArtifactResolutionService Binding="urn:oasis:names:tc:SAML:2.0:bindings:SOAP" Location="https://' + fqdn + '/Shibboleth.sso/Artifact/SOAP" index="1"/>\n' +
      '    <md:SingleLogoutService Binding="urn:oasis:names:tc:SAML:2.0:bindings:SOAP" Location="https://' + fqdn + '/Shibboleth.sso/SLO/SOAP"/>\n' +
      '    <md:SingleLogoutService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect" Location="https://' + fqdn + '/Shibboleth.sso/SLO/Redirect"/>\n' +
      '    <md:SingleLogoutService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST" Location="https://' + fqdn + '/Shibboleth.sso/SLO/POST"/>\n' +
      '    <md:SingleLogoutService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Artifact" Location="https://' + fqdn + '/Shibboleth.sso/SLO/Artifact"/>\n' +
      '    <md:AssertionConsumerService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST" Location="https://' + fqdn + '/Shibboleth.sso/SAML2/POST" index="1"/>\n' +
      '    <md:AssertionConsumerService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST-SimpleSign" Location="https://' + fqdn + '/Shibboleth.sso/SAML2/POST-SimpleSign" index="2"/>\n' +
      '    <md:AssertionConsumerService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Artifact" Location="https://' + fqdn + '/Shibboleth.sso/SAML2/Artifact" index="3"/>\n' +
      '    <md:AssertionConsumerService Binding="urn:oasis:names:tc:SAML:2.0:bindings:PAOS" Location="https://' + fqdn + '/Shibboleth.sso/SAML2/ECP" index="4"/>\n' +
      '    <md:AssertionConsumerService Binding="urn:oasis:names:tc:SAML:1.0:profiles:browser-post" Location="https://' + fqdn + '/Shibboleth.sso/SAML/POST" index="5"/>\n' +
      '    <md:AssertionConsumerService Binding="urn:oasis:names:tc:SAML:1.0:profiles:artifact-01" Location="https://' + fqdn + '/Shibboleth.sso/SAML/Artifact" index="6"/>\n' +
      '  </md:SPSSODescriptor>\n' +
      '\n' +
      '</md:EntityDescriptor>' -%}
    {%- set _ = output_services.append({
      "key": "nsam/idp/metadataFile/" + published_name,
      "value": {
        "app_name": "idp",
        "config_name": "metadataFile",
        "metadataFileId": published_name,
        "metadata": metadata
      }
    }) -%}
  {%- endfor -%}
  {{ output_services }}

am_kv_user_common:
  - key: nsam/idp/samlCertificate
    value:
      app_name: idp
      config_name: samlCertificate
      data1:
        certificate: "{{ credentials.saml_dummy_cert }}"
        privateKey: "{{ credentials.saml_dummy_key }}"
        isPrimary: true
      data2:
        certificate: ""
        privateKey: ""
        isPrimary: false
  - key: "nsam/idp/baseConfig"
    value:
      app_name: idp
      attackProtect: false
      config_name: baseConfig
      inactivity: PT8H
      lifetime: PT8H
      failedCountLimitByUserid: ""
      failedCountLimitBySrcIPAddr: ""
      expireSeconds: ""
      htmlLocalStorage: false
      trackSPSessions: false
      secondaryServiceIndex: false
      additionalConfig: |-
        idp.session.consistentAddress=false
        idp.authn.LDAP.useStartTLS=false
        idp.pool.LDAP.minSize=0
        nsam.authn.devicemgmt.beforehandExpiringDuration=PT0S
#  - key: "nsam/idp/authmethod"
#    value:
#      app_name: idp
#      config_name: authmethod
#      type:
#      - Periodic
#      - MFA
#      periodicSessionAttribute:
#      - passwdChangedDatetime
#      DBRecording: true
#      mfaAuthmethod: PasswordTotp
#      usePeriodic: true
#      defaultTransition: APP
#      selectableTransition:
#      - APP
  - key: "nsam/idp/ldap"
    value:
      app_name: idp
      baseDN: "ou=Users,{{ dn_suffix }}"
      bindDN: "cn=Manager,{{ dn_suffix }}"
      bindDNCredential: "{{ credentials.ldap_rootdn_password }}"
      config_name: ldap
      connectTimeout: PT0.025S
      dataConnectorId: ldap_idp
      hostname: ldap
      port: 389
      subtreeSearch: false
      userFilter: (uid={user})
  - key: "nsam/idp/dataConnector/ldap_idp"
    value:
      app_name: idp
      baseDN: "ou=Users,{{ dn_suffix }}"
      bindDN: "cn=Manager,{{ dn_suffix }}"
      bindDNCredential: "{{ credentials.ldap_rootdn_password }}"
      config_name: dataConnector
      connectTimeout: PT0.025S
      id: ldap_idp
      hostname: ldap
      port: 389
      subtreeSearch: false
      filter: (uid=$resolutionContext.principal)
      type: LDAPDirectory
  - key: "nsam/idp/samlAttribute/uid"
    value:
      app_name: idp
      type: Simple
      attributeDefinitionId: uid
      config_name: samlAttribute
      dependencyName: ldap_idp
      saml1EncodeName: ""
      friendlyName: uid
      saml2EncodeName: uid
      sourceAttributeId: uid
      additionalConfig: ""
  - key: "nsam/idp/samlAttribute/proselfid"
    value:
      app_name: idp
      type: Simple
      attributeDefinitionId: proselfid
      config_name: samlAttribute
      dependencyName: ldap_idp
      saml1EncodeName: ""
      friendlyName: proselfid
      saml2EncodeName: proselfid
      sourceAttributeId: uid
      additionalConfig: ""
  - key: "nsam/idp/samlAttribute/ssouid"
    value:
      app_name: idp
      type: Simple
      attributeDefinitionId: ssouid
      config_name: samlAttribute
      dependencyName: ldap_idp
      saml1EncodeName: ""
      friendlyName: ssouid
      saml2EncodeName: ssouid
      sourceAttributeId: uid
      additionalConfig: ""
  - key: "nsam/idp/samlAttributeFilter/m365"
    value:
      app_name: idp
      attributeDefinitionId:
      - ImmutableID
      - IDPEmail
      config_name: samlAttributeFilter
      policyId: m365
      additionalConfig: ""
      restriction:
      - urn:federation:MicrosoftOnline
  - key: "nsam/idp/relyingPartyOverrides/m365"
    value:
      app_name: idp
      config_name: relyingPartyOverrides
      id: m365
      relyingPartyIds: urn:federation:MicrosoftOnline
      encryptAssertions: "false"
      signResponses: "false"
      signAssertions: "true"
  - key: "nsam/idp/samlNameId"
    value:
      app_name: idp
      config_name: samlNameId
      defaultFormat: urn:oasis:names:tc:SAML:2.0:nameid-format:persistent
      persistentSalt: "{{ credentials.idp_persistentid_salt }}"
      persistentSourceAttribute: NETSOARER_USERID
  - key: "nsam/idp/nameIdGenerators"
    value:
      app_name: idp
      config_name: nameIdGenerators
      attributeSourceAttributes:
      - ImmutableID
      attributeSourceFormat:
      - urn:oasis:names:tc:SAML:2.0:nameid-format:persistent
      generatorsOrder: attributeSourcedFirst
  - key: "nsam/idp/mailConfig"
    value:
      app_name: idp
      config_name: mailConfig
      user: "{{ credentials.google_mail_user }}"
      password: "{{ credentials.google_app_password }}"
      host: "smtp.gmail.com"
      port: 587
      useSmtpAuth: true
      useSmtpStarttls: true

am_user_kv: "{{ am_kv_user_common + am_kv_metadataFile }}"
