# parameters for template

# サイトをインターネットに公開する際のドメイン。
# 親ドメインから本システムのDNSサーバにサブドメイン委任されていなければならない。
# domain: "{{ hive_name }}.unirita.co.jp"
# domain: "{{ hive_name }}.cloudrive.tokyo"
domain: "{{ hive_name }}.procube-demo.jp"
# 委任先の FQDN は ns[0-2]-{{ domain }} とする（グルーレコードではなく親ドメインの直下レコードとする）

web_vip: 192.168.0.200
default_entity_id: "https://auth.{{ domain }}/idp/shibboleth"
dns_mode: "global"  # global or internal

amdb_name: "amdb_idp"

# Secrets
credentials: "{{ lookup('file', inventory_dir | dirname + '/secrets.yml') | from_yaml | default({}) }}"
db_password: "{{lookup('password', hive_context_dir + '/registry_password length=15 chars=ascii_letters,digits')}}"
saml_dummy_cert_stripped: "{{ (credentials.saml_dummy_cert | default(dummy_creds.internal_dummy_cert | default(omit))) | replace('-----BEGIN CERTIFICATE-----\n','') | replace('-----END CERTIFICATE-----','') }}"

# コンテナイメージリポジトリ
ns_container_repository: "docker-repository.procube.jp"

# DRBD 関連設定
hive_kernel_version: "6.12.0-124.8.1.el10_1.x86_64"
hive_drbd_download_url: "https://github.com/procube-open/drbd9-rpm/releases/download/Latests/drbd-9.2.15-v9.29.0-6.12.0-124.8.1.el10_1.x86_64.tar.gz"

# LDAP ドメインコンポーネント
dn_suffix: "DC={{ domain.split('.') | join(',DC=') }}"

# MongoDB から復元するデータの定義
restore_sequence_mongodb:
- name: ldap_settings
  interfaces:
  - name: _sandboxProvSettings
    key_property: name
    filter:
      name:
        "$in":
        - LdapDBProvisioning
        - LdapSchemaProvisioning
  - name: _sandboxOpenLdapDbSetting
    key_property: number
- name: definitions
  interfaces:
  - name: _sandboxSystemSettings
    key_property: name
  - name: _sandboxClasses
    key_property: name
  - name: _sandboxInterfaces
    key_property: name
  - name: _sandboxGadgets
    key_property: name
  - name: _sandboxProvSettings
    key_property: name
    filter:
      name:
        "$nin":
        - LdapDBProvisioning
        - LdapSchemaProvisioning
- name: master_tables
  interfaces:
  - name: LdapGenericObjectEditorIF0
    key_property: dn
  - name: LdapGenericObjectEditorIF1
    key_property: dn
  - name: LdapGenericObjectEditorIF2
    key_property: dn
- name: layouts
  interfaces:
  - name:  _sandboxRoles
    key_property: name
  - name: _sandboxSidebar
    key_property: name
  - name: _sandboxNavbar
    key_property: name
- name: objects
  interfaces:
  - name: userEditorInterface
    key_property: uid
